In [1]:
#import the dependencies
import pandas as pd
import gmaps
import requests
#import the AP key
from config import g_key

In [2]:
import ipywidgets as widgets
gmaps.__version__, widgets.__version__

('0.9.0', '7.6.0')

In [3]:
#store the csv you saved created in part one into a dataframe
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Ancud,CL,20-12-24 08:49:15,-41.87,-73.82,59.00,100,90,13.87
1,1,Rikitea,PF,20-12-24 08:44:23,-23.12,-134.97,77.86,70,46,8.93
2,2,Mahon,ES,20-12-24 08:49:16,39.89,4.27,57.20,93,20,3.36
3,3,Corrente,BR,20-12-24 08:49:17,-3.74,-43.34,72.54,98,67,3.09
4,4,Baicheng,CN,20-12-24 08:49:18,45.62,122.82,13.46,76,100,4.92

In [4]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [5]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [6]:
#1. Assign the locations to an array of latitude and longitude pairs
#locations = [latitude, longitude]
locations = city_data_df[["Lat","Lng"]]

#2. Assign the weights variable to some values
#temperatures = # an array of length equal to the locations array length
max_temp = city_data_df["Max Temp"]
#temps = []
#for temp in max_temp:
#    temps.append(max(temp,0))

#3. assign the figure variable to the gmaps.figure() attribute
fig = gmaps.figure()

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
#heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)
#heatmap_layer = gmaps.heatmap_layer(locations, weights=max_temp)
#heatmap_layer = gmaps.heatmap_layer(locations, weights=[max(temp,0) for temp in max_temp])
heatmap_layer = gmaps.heatmap_layer(locations, weights=[max(temp,0) for temp in max_temp], dissipating=False,
                                   max_intensity=300,point_radius=4)

#5. Add the heatmap layer
fig.add_layer(heatmap_layer)
#6 call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
#fig = gmaps.figure(center=(30.0,31.0), zoom_level = 1.5)

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

# ASK TA: WHY DO I STILL HAVE THE API ERROR?

### 6.5.3 Get Vacation Criteria

In [11]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Rikitea,PF,20-12-24 08:44:23,-23.12,-134.97,77.86,70,46,8.93
9,9,Phan Thiet,VN,20-12-24 08:49:22,10.93,108.10,81.90,74,17,15.75
21,21,Kudat,MY,20-12-24 08:49:27,6.88,116.85,84.20,79,20,6.93
30,30,Atuona,PF,20-12-24 08:49:30,-9.80,-139.03,78.69,74,0,16.78
35,35,Saint-Philippe,RE,20-12-24 08:49:34,-21.36,55.77,86.00,62,20,11.41
39,39,Aden,YE,20-12-24 08:44:43,12.78,45.04,78.12,66,0,10.74
40,40,Newcastle,AU,20-12-24 08:46:01,-32.93,151.78,75.20,64,18,10.29
41,41,Georgetown,MY,20-12-24 08:49:38,5.41,100.34,89.60,70,40,10.29
47,47,Vaini,TO,20-12-24 08:44:49,-21.20,-175.20,78.80,94,40,8.55
64,64,Hobyo,SO,20-12-24 08:49:56,5.35,48.53,81.43,59,8,22.26

In [12]:
preferred_cities_df.count()

City_ID       141
City          141
Country       138
Date          141
Lat           141
Lng           141
Max Temp      141
Humidity      141
Cloudiness    141
Wind Speed    141
dtype: int64

In [13]:
preferred_cities_df_updated = preferred_cities_df.dropna()

In [14]:
preferred_cities_df_updated.count()

City_ID       138
City          138
Country       138
Date          138
Lat           138
Lng           138
Max Temp      138
Humidity      138
Cloudiness    138
Wind Speed    138
dtype: int64

### 6.5.4 Map Vacation Criteria

In [15]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df_updated[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp    Lat     Lng Hotel Name
1          Rikitea      PF     77.86 -23.12 -134.97
9       Phan Thiet      VN     81.90  10.93  108.10
21           Kudat      MY     84.20   6.88  116.85
30          Atuona      PF     78.69  -9.80 -139.03
35  Saint-Philippe      RE     86.00 -21.36   55.77
39            Aden      YE     78.12  12.78   45.04
40       Newcastle      AU     75.20 -32.93  151.78
41      Georgetown      MY     89.60   5.41  100.34
47           Vaini      TO     78.80 -21.20 -175.20
64           Hobyo      SO     81.43   5.35   48.53

In [16]:
# set parameters to search for a hotel
params = {
    "radius":5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found ... skipping.")

Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.
Hotel not found ... skipping.

In [17]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
#hotel_df.head()

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Rikitea,PF,77.86,-23.12,-134.97,Pension Maro'i
9,Phan Thiet,VN,81.90,10.93,108.10,Hotel Saigon-PT
21,Kudat,MY,84.20,6.88,116.85,Dream Garden Hotel
30,Atuona,PF,78.69,-9.80,-139.03,Villa Enata
35,Saint-Philippe,RE,86.00,-21.36,55.77,"Chambres d'hôte ""La Trinité"""

In [19]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [20]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))